{% extends "header.html"%}
{%block body%}
<!DOCTYPE html>
<html lang="en">
    <head>
	<title>This is EasyCook!</title>
    </head>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <body>
<!--	<div class = "jumbotron"> -->
	    <h1>Sign up for Easycook!</h1>
	    <form action = "/signup" methods = "post">
	    <label for="inputEmail">Email</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus/>
	    <label for="inputName">User Name</label>
	    <input type="name" name="inputName" id="inputName" class="form-control" placeholder="User Name" required autofocus/>
	    <label for="inputPW">Password</label>
	    <input type="password" name="inputPW" id="inputPW" class="form-control" placeholder="Password" required/>
	    <label for="inputCountry">Country</label>
	    <input type="text" name="inputCountry" id="inputCountry" class="form-control" placeholder="Country" required autofocus/>
	    <input type="submit"/>
	    </form>
<!--	</div>-->
    <footer class="bg-faded text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; GSON 2017</p>
      </div>
    </footer>	
    </body>
<script>
<!--$.post('/getarecipe', {}, function(){console.log(111111);});-->
</script>
</html>
{%endblock%}
